<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="heading">
    <h1>Welcome! Search Below</h1>
</div>


<form>
    <div class="form-group" style="width:25%; float: left;">
        <label for="exampleFormControlSelect1">Search Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group" style="width:75%; float: left;">
        <label for="exampleFormControlInput1">Search Query</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <button type="submit" action="/">Search</button>

</form>

<script src="/static/base.js"></script>
</body>

